/* overrides uicore.css choices */

#homelink {
    background: url('/localconfig/icons/icpac.png') left no-repeat;
    background-size: 95%;
    opacity: 0.75;
}

#homelink select {
    max-width: 104px;
}


/*Selector de ID*/

#homelink:hover {
    background-size: 100% auto;
    color: blue;
    opacity: 1;
}

.optionsBar {
    background: url('/localconfig/icons/icpac_ukmet_iri_ukaid_noaa.png') right no-repeat;
    background-size: 156px;
    background-position: 99%;
}
